<?xml version="1.0" encoding="UTF-8"?>
<plugin id="org.dita-semia.image-convert">
	
	<feature extension="dita.conductor.target.relative" file="integrator.xml"/>
	<feature extension="depend.preprocess.post"			value="dita-semia.preprocess.image-convert"/>
	<feature extension="dita.conductor.lib.import"		file="lib/RasterizerTask.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/batik-all-1.8.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/xml-apis-ext.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/pdfbox-app-2.0.13.jar"/>
	<feature extension="dita.conductor.lib.import"		file="lib/commons-logging-1.2.jar"/>
	
	<!-- sample transtype: xhtml-png -->
	<feature extension="dita.conductor.transtype.check" value="xhtml-png"/>
	<feature extension="dita.transtype.print" 			value="xhtml-png"/>
	
	<transtype name="xhtml-png" extends="xhtml" desc="DITA-SEMIA XHTHML with SVG to PNG"/>

</plugin>
